.textLinearGradient {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 131.51%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
