@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Londrina+Solid:wght@100;300;400;900&display=swap");
@font-face {
    font-family: "tripsan-regular";
    /* Name your font */
    src: url("/fonts/trip-sans/TripSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "tripsan-medium";
    /* Name your font */
    src: url("/fonts/trip-sans/TripSans-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "tripsan-bold";
    /* Name your font */
    src: url("/fonts/trip-sans/TripSans-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


.our-blog {
    display: flex;
        padding: 0.8125rem 2.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 62.5rem;
            background: #FCF8F7;
}

.text-blog-bold {
    color: #030922;
        text-align: center;
        font-family: "tripsan-medium";
        font-size: 0.78906rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1rem;
        /* 126.733% */
        letter-spacing: 0.03125rem;
        text-transform: uppercase;
}

.text-out-blog{
    color: #030922;
        text-align: center;
        font-family: "tripsan-regular";
        font-size: 0.78906rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem;
        /* 126.733% */
        letter-spacing: 0.03125rem;
        text-transform: uppercase;
}

.post-btn{
    display: flex;
        padding:0.625rem 1.1875rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 2.0625rem;
            background: #FAF1EE;
}

.post-btn-p {
    color: #FCF8F7;
    
        /* WEB/H3/BLACK */
        font-family: "Londrina Solid";
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 900;
        line-height: 100%;
        /* 2.5rem */
}

.post-btn-span {
color: #787878;
    font-family: Inter;
    font-size: 0.9155rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.625rem;
    /* 177.493% */
    letter-spacing: 0.03125rem;
    text-transform: uppercase;
        
}