@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Londrina+Solid:wght@100;300;400;900&display=swap");

@custom-variant dark (&:is(.dark *));
@import "tailwindcss";
@plugin "tailwindcss-animate";

@font-face {
  font-family: "tripsan-regular";
  /* Name your font */
  src: url('/fonts/trip-sans/TripSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tripsan-medium";
  /* Name your font */
  src: url('/fonts/trip-sans/TripSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tripsan-bold";
  /* Name your font */
  src: url('/fonts/trip-sans/TripSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  /* Breakpoint */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1600px;
  --breakpoint-2xl: 1800px;
  --breakpoint-3xl: 1950px;
  --breakpoint-4xl: 2250px;

  /* GREYSCALE */
  
  --color-grey-50: #727272;
  --color-grey-100: rgb(204, 204, 204);
  --color-grey-200: rgb(180, 180, 180);
  --color-grey-300: rgb(146, 146, 146);
  --color-grey-400: rgb(125, 125, 125);
  --color-grey-500: rgb(92, 92, 92);
  --color-grey-600: rgb(84, 84, 84);
  --color-grey-700: rgb(65, 65, 65);
  --color-grey-800: rgb(51, 51, 51);
  --color-grey-900: rgb(39, 39, 39);

  /* GREYSCALE2 */
  --color-gray-scale-5 : #D9D9D9;
  --color-gray-scale-80: #2E2E2E;
  
  /* GREYSCALE  text*/
  --color-greyscaletext-0:#FFF;
  --color-greyscaletext-5:#F1F1F1;
  --color-greyscaletext-10: #C5C5C5;
  --color-greyscaletext-20:#A9A9A9;
  --color-greyscaletext-30: #828282;
  --color-greyscaletext-40: #6A6A6A;
  --color-greyscaletext-50:#454545;
  --color-greyscaletext-60:#3F3F3F;
  --color-greyscaletext-70:#313131;
  /* GREYSCALE */
  --color-greyscaletext-0: #fff;
  --color-greyscaletext-10: #c5c5c5;
  --color-greyscaletext-20: #a9a9a9;
  --color-greyscaletext-30: #828282;
  --color-greyscaletext-40: #6a6a6a;
  --color-greyscaletext-70: #313131;
  --color-greyscaletext-80-main: #262626;

  --color-Gray-Scale-80: #2e2e2e;

  /* Orange */
  --color-orange-light: rgb(254, 238, 232);
  --color-orange-light__hover: rgb(253, 229, 221);
  --color-orange-light__active: rgb(251, 202, 185);
  --color-orange-normal: rgb(242, 83, 28);
  --color-orange-normal__hover: rgb(218, 75, 25);
  --color-orange-normal__active: rgb(194, 66, 22);
  --color-orange-dark: rgb(182, 62, 21);
  --color-orange-dark__hover: rgb(145, 50, 17);
  --color-orange-dark__active: rgb(109, 37, 13);
  --color-orange-darker: rgb(85, 29, 10);

  /* Green */
  --color-green-light: rgb(233, 241, 237);
  --color-green-light__hover: rgb(222, 234, 228);
  --color-green-light__active: rgb(187, 211, 200);
  --color-green-normal: rgb(35, 112, 77);
  --color-green-normal__hover: rgb(32, 101, 69);
  --color-green-normal__active: rgb(28, 90, 62);
  --color-green-dark: rgb(26, 84, 58);
  --color-green-dark__hover: rgb(21, 67, 46);
  --color-green-dark__active: rgb(16, 50, 35);
  --color-green-darker: rgb(12, 39, 27);
  --color-green-s:rgba(19, 52, 28, 1);

  /* Grey Green */
  --color-grey-green-light: rgb(231, 233, 232);
  --color-grey-green-light__hover: rgb(219, 223, 220);
  --color-grey-green-light__active: rgb(182, 188, 183);
  --color-grey-green-normal: rgb(18, 39, 24);
  --color-grey-green-normal__hover: rgb(16, 35, 22);
  --color-grey-green-normal__active: rgb(14, 31, 19);
  --color-grey-green-dark: rgb(14, 29, 18);
  --color-grey-green-dark__hover: rgb(11, 23, 14);
  --color-grey-green-dark__active: rgb(8, 18, 11);
  --color-grey-green-darker: rgb(6, 14, 8);

  /* Background elevation */
  --color-bg-elevation-30: #f0f0f0;
  --color-bg-elevation-white-50: rgb(255, 255, 255);
  --color-bg-elevation-white-100: rgb(250, 250, 250);
  --color-bg-elevation-white-300: rgb(245, 245, 245);
  --color-bg-elevation-white-500: rgb(240, 240, 240);

  /* Font */
  --font-londrina-solid: "Londrina Solid", sans-serif;
  --font-kanit: "Kanit", sans-serif;
  --font-inter: "Inter", sans-serif;
  /* Background greyscaletext */

  --color-bg-greyscaletext-10: #c5c5c5;

  /* font */
  --font-tripsan-regular: "tripsan-regular";
  --font-tripsan-bold: "tripsan-regular";
}

html {
  font-size: 1vw;
}

html > body[data-scroll-locked] {
  overflow: auto !important;
  --removed-body-scroll-bar-size: 0px;
  margin-right: 0 !important;
}

.hidden_scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom_scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom_scrollbar::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 2px;
}

/* Custom marquee slide with swiper */
#infinity_marquee_slide .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* Button */
.btn-size-l {
  display: inline-flex;
  height: 3.5rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
}
.btn-size-m {
  display: inline-flex;
  height: 3rem;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
}
.btn-size-s {
  display: inline-flex;
  height: 2.75rem;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
}
.btn-size-xs {
  display: inline-flex;
  height: 2.125rem;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
}
.btn-default {
  border-radius: 0.5rem;
  border: 1px solid var(--color-orange-normal, #e64827);
  background: var(--color-orange-normal, #e64827);
}
.btn-white {
  border-radius: 0.5rem;
  background: var(--color-bg-elevation-white-50, #fff);
}
.btn-line {
  border-radius: 0.5rem;
  border: 1px solid var(--color-grey-900, #1a1a1a);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.btn-line-orange {
  border-radius: 0.5rem;
  border: 1px solid var(--color-orange-normal, #e64827);
}
.btn-black {
  border-radius: 0.5rem;
  background: var(--color-grey-800, #222);
}
.btn-line-white {
  border-radius: 0.5rem;
  border: 1px solid var(--color-bg-elevation-white-50, #fff);
  opacity: 0.6;
}

/* btn fontsize */

.btn-bold {
  color: var(--greyscaletext-0);
  text-align: center;

  /* WEB/BUTTON/BOLD */
  font-family: "tripsan-bold";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 1.05rem */
  text-transform: uppercase;
}

/* Web heading */
/* h1 */
.h1-regular {
  color: #000;
  font-family: "Kanit", sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 7.2rem */
  letter-spacing: -0.09rem;
}
.h1-medium {
  color: #000;
  font-family: "tripsan-regular", sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 7.2rem */
  letter-spacing: -0.09rem;
}
.h1-semibold {
  color: #000;
  font-family: "tripsan-regular", sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 7.2rem */
  letter-spacing: -0.09rem;
}
.h1-bold {
  color: #000;
  /* WEB/H1/BLACK */
  font-family: "Londrina Solid", sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 6rem */
}
/* h2 */
.h2-regular {
  color: #000;
  font-family: "Kanit", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 4.8rem */
  letter-spacing: -0.02rem;
}
.h2-medium {
  color: #000;
  font-family: "Kanit", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 4.8rem */
  letter-spacing: -0.02rem;
}
.h2-semibold {
  color: #000;
  font-family: "Kanit", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 4.8rem */
  letter-spacing: -0.02rem;
}
.h2-bold {
  color: #000;
  /* WEB/H2/BLACK */
  font-family: "Londrina Solid", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 3.5rem */
}
/* h3 */
.h3-regular {
  color: #000;
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 3.6rem */
}
.h3-medium {
  color: #000;
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 3.6rem */
}
.h3-semibold {
  color: #000;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 3.6rem */
}
.h3-bold {
  color: #000;
  /* WEB/H3/BLACK */
  font-family: "Londrina Solid", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 2.5rem */
}

/* h4 */
.h4-regular {
  color: #000;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 2.4rem */
  letter-spacing: 0.005rem;
}
.h4-medium {
  color: #000;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 2.4rem */
  letter-spacing: 0.005rem;
}
.h4-semibold {
  color: #000;
  /* WEB/H4/BLACK */
  font-family: "Londrina Solid", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 2rem */
}
.h4-bold {
  color: #000;
  font-family: "tripsan-regular", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 2.4rem */
}

/* h5 */
.h5-regular {
  color: #000;
  font-family: "Kanit", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.8rem */
}
.h5-medium {
  color: #000;
  font-family: "Kanit", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.8rem */
}
.h5-semibold {
  color: #000;
  font-family: "Kanit", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.8rem */
}

/* h6 */
.h6-regular {
  color: #000;
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.5rem */
}
.h6-medium {
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.5rem */
}
.h6-semibold {
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.5rem */
}
.h6-bold {
  color: #000;
  font-family: "tripsan-bold";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 1.5rem */
}

/* Sub1 */

.sub1-regular {
  color: #000;

  /* WEB/SUB1/REGULAR */
  font-family: "tripsan-regular";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 1.2rem */
  letter-spacing: 0.0125rem;
}

.sub1-medium {
  color: #000;

  /* WEB/SUB1/MEDIUM */
  font-family: "tripsan-medium";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 1.2rem */
  letter-spacing: 0.0125rem;
}

.sub1-semibold {
  color: #000;
  font-family: "tripsan-medium";
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  /* 1.2rem */
  letter-spacing: 0.0125rem;
}

.sub1-bold {
  color: #000;

  /* WEB/SUB1/BOLD */
  font-family: "tripsan-bold";
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  /* 1.2rem */
  letter-spacing: 0.0125rem;
}

/* sub2 */
.sub2-regular {
  color: #000;

  /* WEB/SUB2/REGULAR */
  font-family: "tripsan-regular", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
}
.sub2-medium {
  color: #000;

  /* WEB/SUB2/MEDIUM */
  font-family: "tripsan-regular", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
}
.sub2-semibold {
  color: #000;
  font-family: Kanit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
}
.sub2-bold {
  color: #000;

  /* WEB/SUB2/BOLD */
  font-family: "tripsan-bold", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00875rem;
}

/* Body1 */
.body1-regular {
  color: #000;
  /* WEB/BODY1/REGULAR */
  font-family: "tripsan-regular", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.005rem;
}
.body1-semibold {
  color: #000;
  font-family: "tripsan-regular", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.005rem;
}
/* .body1-bold {
  color: #000;
  font-family: Kanit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 1.5rem */
/* letter-spacing: 0.005rem; */
/* } * */

/* Body2 */

.body2-regular {
  color: var(--greyscaletext-80-main, #262626);
  
    /* WEB/BODY2/REGULAR */
    font-family: "tripsan-regular";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 1.3125rem */
    letter-spacing: 0.00219rem;
}

.body2-bold{
  
    /* WEB/BODY2/BOLD */
    font-family: "tripsan-bold";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 1.3125rem */
}



/* CAPTION/ REGULAR */

.caption-regular {
  color: var(--greyscaletext-0, #FFF);
  
    /* APP/CAPTION/REGULAR */
    font-family: "tripsan-regular";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 0.9rem */
    letter-spacing: 0.00375rem;
}

.caption-medium{
  color: #000;
    font-family: "Kanit";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 0.9rem */
    letter-spacing: 0.00375rem;
}

.caption-bold{
  color: #000;
    font-family: "tripsan-regular";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    /* 0.9rem */
    letter-spacing: 0.00375rem;
}


@media only screen and (max-width: 640px) {
  html {
    font-size: 4.267vw;
  }
}
/* Ẩn nút tăng/giảm trên Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ẩn nút tăng/giảm trên Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}



/* Sub2 */

.sub2-regular {
  color: #000;

  /* WEB/SUB2/REGULAR */
  font-family: "tripsan-regular";
  font-size: 0.875rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important;
  /* 1.05rem */
  letter-spacing: 0.00875rem;
}

.sub2-medium {
  color: #000;

  /* WEB/SUB2/MEDIUM */
  font-family: "tripsan-medium";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 1.05rem */
  letter-spacing: 0.00875rem;
}

.sub2-semibold {
  color: #000;
  font-family: "tripsan-medium";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 1.05rem */
  letter-spacing: 0.00875rem;
}

.sub2-bold {
  color: #000;
  font-family: "tripsan-bold";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0.00875rem;
}

/* WEB/BODY1/REGULAR */
.body1-regular {
  color: #000;

  /* WEB/BODY1/REGULAR */
  font-family: "tripsan-regular";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.5rem */
  letter-spacing: 0.005rem;
}
.body1-semibold {
  color: #000;
  font-family: "tripsan-medium";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.5rem */
  letter-spacing: 0.005rem;
}
.body1-bold {
  color: #000;
  font-family: "tripsan-bold";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 1.5rem */
  letter-spacing: 0.005rem;
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 4.40421vw;
  }

  /* h1 */
  .h1-regular {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 4.8rem */
    letter-spacing: -0.02rem;
  }
  .h1-medium {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 4.8rem */
    letter-spacing: -0.02rem;
  }
  .h1-semibold {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 4.8rem */
    letter-spacing: -0.02rem;
  }
  .h1-bold {
    color: #000;

    /* APP/H1/Black */
    font-family: "Londrina Solid", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 4.8rem */
    letter-spacing: -0.02rem;
  }
  /* h2 */
  .h2-regular {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 3.6rem */
  }
  .h2-medium {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 3.6rem */
  }
  .h2-semibold {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 3.6rem */
  }
  .h2-bold {
    color: #000;
    /* APP/H3/BOLD */
    font-family: "Londrina Solid", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 3rem */
  }
  /* h3 */
  .h3-regular {
    color: #000;
    font-family: "tripsan-regular", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 2.4rem */
    letter-spacing: 0.005rem;
  }
  .h3-medium {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 2.4rem */
    letter-spacing: 0.005rem;
  }
  .h3-semibold {
    color: #000;

    /* APP/H4/BOLD */
    font-family: "Londrina Solid", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 2.4rem */
    letter-spacing: 0.005rem;
  }
  .h3-bold {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 2.4rem */
  }

  /* h4 */
  .h4-regular {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.8rem */
  }
  .h4-medium {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.8rem */
  }
  .h4-semibold {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.8rem */
  }
  .h4-bold {
    color: #000;
    /* APP/H5/BOLD */
    font-family: "Londrina Solid", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 1.8rem */
    letter-spacing: 0.00375rem;
  }

  /* h5 */
  .h5-regular {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.5rem */
    letter-spacing: 0.00313rem;
  }
  .h5-medium {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.5rem */
    letter-spacing: 0.00313rem;
  }
  .h5-semibold {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.5rem */
    letter-spacing: 0.00313rem;
  }
  .h5-bold {
    color: #000;
    /* APP/H7/BOLD */
    font-family: "tripsan-bold", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.5rem */
  }
  .h5-bold-pc {
    color: var(--greyscaletext-70, #313131);
    /* WEB/H5/BLACK */
    font-family: "Londrina Solid", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    /* 1.5rem */
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 19.2px;
  }
}
/* About */



.h1-about {
  font-family: "tripsan-bold";
  font-size: 13.9375rem;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 100%;
  /* 13.9375rem */
  background: linear-gradient(180deg, #FFF 28.9%, rgba(255, 255, 255, 0.00) 83.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-exp {
  font-family: "tripsan-bold";
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 7.5rem */
  text-transform: uppercase;

  background: linear-gradient(180deg, #FFF 30.31%, rgba(255, 255, 255, 0.00) 87.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-notice {
  display: flex;
  padding: 0.375rem 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(16px);

  color: var(--greyscaletext-0, #FFF);
  font-family: "tripsan-bold";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 120%;
  /* 1.35rem */
}

/* Trip for you */

.time-box {
  display: flex;
  align-items: center;
  gap:0.5rem;
  border-radius: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.52);
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(2px);
}

.intro {
  color: var(--greyscaletext-0, #FFF);
    font-family: "tripsan-bold";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    /* 1.5rem */
}

/* animate spin */

@keyframes custom-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: custom-spin 3s linear infinite;
  /* 3 seconds duration */
}

.animate-spin-fast {
  animation: custom-spin 0.5s linear infinite;
  /* 0.5 seconds duration */
}



:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
