.journeyPlan .circularInfinity {
  animation: journeySpinAnimation 6s linear infinite;
}
.journeyPlan .journeyPlanBtn {
  gap: 0.5rem;
  width: 10.625rem;
  height: 3.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.5s ease;
  height: 3rem;
  width: 10.625rem;
  cursor: pointer;
  font-size: 0.875rem;
}
.journeyPlan .journeyPlanBtn.journeyPlanBtnPrimary {
  color: #e64827;
  background: #fff;
  border: 1px solid #e64827;
}
.journeyPlan .journeyPlanBtn.journeyPlanBtnPrimary:hover {
  color: #fff;
  background: #e64827;
  border: 1px solid #e64827;
}
.journeyPlan .journeyPlanBtn.journeyPlanBtnSecondary {
  color: #fff;
  background: #e64827;
  border: 1px solid #e64827;
}
@keyframes journeySpinAnimation {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
