#blog-detail #blog-content .blog-sub-title {
  color: #262626;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 500;
}

#blog-detail #blog-content .blog-desc {
  line-height: 1.5;
  letter-spacing: 0.005rem;
  font-size: 1rem;
  color: #262626;
}

#blog-detail #blog-planning .circular-infinity {
  animation: circular-infinity 6s linear infinite;
}
#blog-detail #blog-planning .blog_planning_btn {
  padding: 1rem 2rem;
  width: 10.625rem;
  height: 3.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}

#blog-detail #blog-planning .blog_planning_btn.blog_planning_btn-primary {
  color: #e64827;
  background: #fff;
  border: 1px solid #e64827;
}
#blog-detail #blog-planning .blog_planning_btn.blog_planning_btn-primary:hover,
#blog-detail #blog-planning .blog_planning_btn.blog_planning_btn-secondary {
  color: #fff;
  background: #e64827;
  border: 1px solid #e64827;
}

@keyframes circular-infinity {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
@media only screen and (max-width: 767.98px) {
  #blog-detail #blog-content .blog-sub-title {
    font-size: 1.125rem;
  }

  #blog-detail #blog-content .blog-desc {
    font-size: 0.875rem;
  }

  #blog-detail #blog-planning .blog_planning_btn {
    height: 3rem;
    padding: 0.75rem 1rem;
    width: auto;
    flex: 1;
  }
}
