.animation_motorbike {
  animation: motorbike 8s 4s linear;
}

@keyframes motorbike {
  0% {
    opacity: 0.5;
  }
  10% {
    transform: translate(0rem, 12rem);
    rotate: 2.696deg;
  }
  20% {
    transform: translate(4rem, 20rem);
    rotate: 2.696deg;
  }
  30% {
    transform: translate(4rem, 28rem);
    rotate: 2.696deg;
  }
  40% {
    transform: translate(2rem, 35rem);
    rotate: 2.696deg;
  }
  50% {
    transform: translate(2rem, 47rem);
    rotate: 2.696deg;
  }
  100% {
    transform: translate(2rem, 47rem);
    rotate: 2.696deg;
    opacity: 1;
  }
}
