#cloud_fly.cloud_container {
  .animation_cloud1 {
    animation: cloud_fly1 60s linear infinite;
  }
  .animation_cloud2 {
    animation: cloud_fly2 60s linear infinite;
  }
  .animation_cloud3 {
    animation: cloud_fly3 60s linear infinite;
  }
  .animation_cloud4 {
    animation: cloud_fly4 60s linear infinite;
  }

  @keyframes cloud_fly1 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-8%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes cloud_fly2 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes cloud_fly3 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes cloud_fly4 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
