#weather {
  .animation_cloud1 {
    animation: cloud1 60s linear infinite;
  }
  .animation_cloud2 {
    animation: cloud2 60s linear infinite;
  }
  .animation_cloud3 {
    animation: cloud3 60s linear infinite;
  }
  .animate-cloud-4 {
    animation: cloud4 60s linear infinite;
  }
  @keyframes cloud1 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-8%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes cloud2 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes cloud3 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes cloud4 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
